body {
    background-color: lawngreen;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-style: italic;
    font-weight: 500;
    
    text-align-last: center;
    text-decoration-line: underline;
}
h2 {
    text-align:right;
    color: black;
}
p {
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    color: brown;
}

.menu-item{
    background: red;
}

span.big-letter{
    font-size:100px;
}

h3 {
font-size: 30px;
color: orangered;

}

h4 {
    color: olive;
}